@import "../../../../../scss/common.scss";
.redColor{
    color: red;
    font-weight: bold;
}
td.team-heading {
    padding: .5rem 0 !important;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
