<p-dialog
  [(visible)]="regionDialogue"
  [style]="{ width: '550px' }"
  header="{{ formTitle }}"
  [modal]="true"
  (onHide)="hideDialogue()"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form
      #form="ngForm"
      (ngSubmit)="saveRegion(form.value)"
      novalidate
    >
      <div class="search_form">
        <div class="p-field form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="regionName" class="col-form-label">Name</label>
            </div>
            <div class="col-md-8">
              <input
                type="text"
                pInputText
                id="regionName"
                name="regionName"
                [(ngModel)]="region.name"
                autofocus
                ngModel
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="submit" pButton pRipple label="Save"></button>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            pButton
            pRipple
            label="Cancel"
            class="p-button-outlined p-button-danger"
            (click)="hideDialogue()"
          ></button>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>
