@import '../../../../scss/utilities/variables';
@import '../../../../scss/utilities/function';
@import '../../../../scss/utilities/mixins';

.site_wrapper {
  width: 100%;
  display: flex;
}

.site_main_content {
  width: 100%;
  margin: px2rem(47) px2rem(58) px2rem(30) px2rem(58);
  position: relative;
  transition: all 0.3s;
  margin-left: px2rem(185);
  overflow-x: hidden;
  @include lg-max {
    padding: px2rem(20) px2rem(20) px2rem(20) px2rem(20);
    margin: 0 0 0 px2rem(132);
  }
}

.btn-hamburger {
  position: fixed;
  top: px2rem(50);
  margin-left: px2rem(-53);
  background: $medium-blue;
  color: $white;
  padding: px2rem(6) px2rem(6);
  border-color: $medium-blue;
  border-radius: 0;
  @include lg-max {
    position: absolute;
    top: px2rem(60);
    margin-left: 0;
  }
  &:focus {
    box-shadow: none !important;
  }
  .fa-bars:before {
    content: '\f0c9';
    font-family: FontAwesome;
  }
}
.site_sidebar {
  max-width: 250px;
  min-width: 250px;
  transition: all 0.3s;
  position: fixed;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: auto;
  background: #4e56c4;
  border-radius: 0 30px 30px 0;
  @include lg-max {
    min-width: 0;
    max-width: 0;
    text-align: center;
  }
}

.sidebar-content-margin {
  margin-left: px2rem(300);
  @include lg-max {
    margin-left: 0;
  }
}
