<p-dialog
  [(visible)]="projectDialogue"
  [style]="{ width: '550px' }"
  header="{{ formTitle }}"
  [modal]="true"
  (onHide)="hideDialogue()"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form
      #form="ngForm"
      (ngSubmit)="saveProject(form.value, projectTypes, businessUnits)"
      novalidate
    >
      <div class="search_form">
        <div class="p-field form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="bu" class="col-form-label">Business Unit</label>
            </div>
            <div class="col-md-8">
              <p-dropdown
                id="bu"
                name="bu"
                [(ngModel)]="project.businessUnit.id"
                placeholder="Select BU"
                required
                [options]="businessUnits | dropdownToValuePipe"
                ngModel
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="p-field form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="projectName" class="col-form-label">Name</label>
            </div>
            <div class="col-md-8">
              <input
                type="text"
                pInputText
                id="projectName"
                name="projectName"
                [(ngModel)]="project.name"
                autofocus
                ngModel
                required
              />
            </div>
          </div>
        </div>
        <div class="p-field form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="projectType" class="col-form-label">Type</label>
            </div>
            <div class="col-md-8">
              <p-dropdown
                id="projectType"
                name="projectType"
                placeholder="Select Type"
                [(ngModel)]="project.type.id"
                required
                [options]="projectTypes | dropdownToValuePipe"
                ngModel
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="p-field form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="otp" class="col-form-label">OTP</label>
            </div>
            <div class="col-md-8">
              <input
                type="text"
                pInputText
                id="otp"
                name="otp"
                [(ngModel)]="project.otp"
                required
                autofocus
                ngModel
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="submit" pButton pRipple label="Save"></button>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            pButton
            pRipple
            label="Cancel"
            class="p-button-outlined p-button-danger"
            (click)="hideDialogue()"
          ></button>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>
