@import "../../../../../scss/common.scss";



label {
  font-family: $title-font;
  font-size: px2rem(12);
  font-weight: 600;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .2px;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.col-form-label{
  padding-right: 10px;
}
.searchIconDiv {
  display: inline-block;
  cursor: pointer;
  margin-right: px2rem(10);
}
.fa-search{
  &:before{
    font-family: FontAwesome;
    content: "\f002";
  }
}
.fa-refresh{
  &:before{
    font-family: FontAwesome;
    content: '\f021';
  }
}
.form-filter{
  margin: px2rem(30) 0 0 0;
  padding: px2rem(16);
  background-color: $light-blue;
  .col{
    @media (min-width: $screen-md-max){
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 px2rem(10);
    }
  }
}
