
<p-dialog
  [(visible)]="teamTypeDialogue"
  [style]="{ width: '550px' }"
  [modal]="true"
  (onHide)="hideDialogue()"
  styleClass="p-fluid"
>
  <p-header>{{ formTitle }}</p-header>
  <ng-template pTemplate="content">
    <form #form="ngForm" (ngSubmit)="saveTeam(form.value)" novalidate>
      <div class="search_form">
        <div class="p-field form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="teamName" class="col-form-label">Team Name</label>
            </div>
            <div class="col-md-8">
              <input
                type="text"
                name="teamName"
                id="teamName"
                [(ngModel)]="teamVal.name"
                pInputText
                required
                autofocus
                class="form-control"
                ngModel
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="submit" pButton pRipple label="Save"></button>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            pButton
            pRipple
            label="Cancel"
            class="p-button-outlined p-button-danger"
            (click)="hideDialogue()"
          ></button>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>
