@import "../../../../../scss/common.scss";
.add-member-form{
    display: block;
    width: 100%;
    max-width: 540px;
    height: auto;
    margin: 0 auto;
}
.btn--theme{
    display: inline-block;
    background-color: #407BF8;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2.5rem;
    padding: 0.625em 3.75em;
    margin-right: 1rem;
}