<p-dialog
  [(visible)]="regionCapacityDialogue"
  [style]="{ width: '1000px' }"
  header="{{ formTitle }}"
  [modal]="true"
  (onHide)="hideDialogue()"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <p-table
      [value]="regionCapacities"
      class="w-100"
      styleClass="p-datatable-gridlines"
      editMode="row"
      dataKey="id"
      [paginator]="false"
    >
      <ng-template pTemplate="header">
        <tr>
          <th colspan="14">
            <span style="font-weight: bold">Region: {{ region.name }}</span>
          </th>
        </tr>
        <tr>
          <th colspan="14">
            <span style="font-weight: bold">
              No. of Working Days in a Month
            </span>
          </th>
        </tr>
        <tr>
          <th>Edit</th>
          <th pSortableColumn="year">Year</th>
          <th>Jan</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Apr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Aug</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dec</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-data
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="data" id="row_{{ ri }}">
          <td>
            <button
              *ngIf="!editing && regionCapacities.length !== ri"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              [disabled]="!!data.isDeleted"
              (click)="rowEditInit()"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="rowEditSave(data)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="rowEditCancel(data, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-minus-circle"
              class="p-button-rounded p-button-text p-button-warning"
              *ngIf="data.id.length === 0"
              (click)="removeRow(ri)"
            ></button>
          </td>
          <td>
            {{ data.year }}
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[0].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[0].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[1].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[1].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[2].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[2].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[3].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[3].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[4].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[4].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[5].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[5].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[6].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[6].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[7].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[7].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[8].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[8].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[9].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[9].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[10].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[10].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  class="w-100 text-center"
                  [(ngModel)]="data.capacities[11].capacity"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ data.capacities[11].capacity }}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="14">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-plus-circle"
              class="p-button-rounded p-button-text p-button-info"
              (click)="addNewRow()"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button
          type="button"
          pButton
          pRipple
          label="Save"
          (click)="saveRegionCapacities()"
        ></button>
      </div>
      <div class="col-md-4">
        <button
          type="button"
          pButton
          pRipple
          label="Cancel"
          class="p-button-outlined p-button-danger"
          (click)="hideDialogue()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
