
@import "../../../../scss/common";

%margin-top-bottom {
  margin: px2em(5) 0;
  color: $white;
}
.site_sidebar {
  &-wrapper {
    width: 100%;
  }
  &-header {
    background: linear-gradient(180deg, #4e56c4 0%, #4e56c4 100%);
    border-radius: 0 px2rem(30) 0 0;
    text-align: center;
    padding: px2rem(12) px2rem(15);
    &_profile {
      width: 85px;
      height: auto;
      margin: 0 auto;
      border: 3px solid transparent;
      border-radius: 50%;
      background-image: linear-gradient(#4e56c4, #4e56c4),
        radial-gradient(circle at top left, #c5caf4, #4e56c4, #bababa);
      background-origin: border-box;
      background-clip: content-box, border-box;
      img {
        width: 83px;
        height: 85px;
        border-radius: 50%;
        position: relative;
      }
    }
    &_name {
      @extend %margin-top-bottom;
      margin-top: px2rem(12);
    }
    &_email {
      font-size: px2rem(10);
      @extend %margin-top-bottom;
      transition: all 0.3s;
    }
    &_team {
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: px2em(5);
      border-radius: px2rem(8);
      letter-spacing: px2em(1);
      @extend %margin-top-bottom;
    }
    &_p {
      margin-bottom: px2rem(7);
    }
  }
}

.site_sidebar-main {
  background-color: $light-blue;
  padding: px2rem(12) 0 px2rem(12) px2rem(9);
  height:300px;
  overflow-y: scroll;
  &_link {
    color: $white;
    text-decoration: none;
    font-family: $title-font;
    font-size: px2rem(12);
    font-weight: 600;
    letter-spacing: px2em(1);
    margin-bottom: px2em(15);
    padding: px2rem(12) px2rem(10) px2rem(13) px2rem(20);
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease;
  }
  &_icon {
    margin-right: px2rem(22);
  }
  &_down-icon{
    position: absolute;
    right: px2rem(20);
  }
  &_link--dashboard {
    &:before {
      font-family: FontAwesome;
      content: "\f0e4";
    }
  }
  &_link--task {
    &:before {
      font-family: FontAwesome;
      content: "\f0ae";
    }
  }
  &_link--role {
    &:before {
      font-family: FontAwesome;
      content: "\f007";
    }
  }
  &_link--bu {
    &:before {
      font-family: FontAwesome;
      content: "\f1ad";
    }
  }
  &_link--team {
    &:before {
      font-family: FontAwesome;
      content: "\f0fe";
    }
  }
  &_link--resources {
    &:before {
      font-family: FontAwesome;
      content: "\f0c0";
    }
  }
  &_link-title {
    position: absolute;
  }
}


.site_sidebar-footer {
  background: linear-gradient(180deg, #4e56c4 0%, #4e56c4 100%);
  border-radius: 0 0 px2rem(20) 0;
  &_logo {
    text-align: center;
    padding: px2rem(12) 0;
  }
}
.fa-edit{
  &:hover, &:active, &:focus{
      color: $light-blue;
  }
}
.fa-trash{
  @extend .fa-edit;
}
.fa-caret-left{
  &:before {
  font-family: FontAwesome;
  content: "\f053";
  }
}
.submenu{
    padding-left: px2rem(15);
}
a[aria-expanded="true"] > .site_sidebar-main_down-icon{
  transform: rotate(270deg);
} 

a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="true"]{
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: px2rem(30) 0 0 px2rem(30);
  color: #fff;
  transition: all 0.3s ease;
}

.active {
  background-color: #fff !important;
  border-radius: px2rem(30) 0 0 px2rem(30);
  color: blue !important;
  transition: all 0.3s ease;
}