
* {
    box-sizing: border-box;
}
body {
    font-family: $primary-font;
    font-size: 1rem;
}

/*scrollbar start */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 192, 192);
  }
  
  /*scrollbar end */
