/*Prime Ng Control Validation*/

.custom-form-validation .form-control {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
  }
  
  /*Text Box Validation*/
  input[type="text"].ng-invalid {
    border-color: #dc3545 !important;
    border-left: 5px solid;
  }
  
  input[type="text"].ng-valid[required] {
    border-color: #008744 !important;
    border-left: 5px solid;
  }
  /*Text Box Validation*/
  
  /* Dropdown Validation*/
  p-dropdown.ng-valid[required] > div,
  p-autocomplete.ng-valid.required > div {
    border-left: 5px solid;
  }
  
  p-dropdown.ng-invalid:not(form) > div {
    border-left: 5px solid;
    border-color: #dc3545 !important;
  }
  
  p-dropdown.ng-valid:not(form) > div {
    border-left: 5px solid;
    border-color: #008744 !important;
  }
  
  p-dropdown.ng-valid[required],
  p-dropdown.ng-valid.required {
    border-left: 0 none;
  }
  
  p-dropdown.ng-invalid:not(form) {
    border-left: 0 none;
  }
  /* Dropdown Validation*/
  
  /*Multi Select Validation*/
  .p-multiselect.ng-valid[required] > div,
  p-autocomplete.ng-valid.required > div {
    border-left: 5px solid;
  }
  
  p-multiselect.ng-invalid:not(form) > div {
    border-left: 5px solid;
    border-color: #dc3545 !important;
  }
  
  p-multiselect.ng-valid:not(form) > div {
    border-left: 5px solid;
    // border-color: #008744 !important;
  }
  
  p-multiselect.ng-valid[required],
  p-multiselect.ng-valid.required {
    border-left: 0 none;
  }
  
  p-multiselect.ng-invalid:not(form) {
    border-left: 0 none;
  }
  /*Multi select Validation*/
  
  /*Prime Ng Control Validation*/
  