<header class="site_header">
    <h1 class="site_header-title">Roles</h1>
    <hr class="site_header-line" />
  </header>
  <ng-container *ngIf="{
      roles: role$ | async
  } as asyncData">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success p-mr-2 m-2"
            (click)="openDialogue()"
          ></button>
        </div>
      </div>
  
      <p-table #dt1 [value]="asyncData.roles" styleClass="p-datatable-gridlines" [globalFilterFields]="['name','code','organization.name','gaspard']"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Roles</h5>
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">Role Name<p-sortIcon field="name"></p-sortIcon></th>            
            <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="organization.name">Organization<p-sortIcon field="organization.name"></p-sortIcon></th>
            <th pSortableColumn="gaspard">Gaspard<p-sortIcon field="gaspard"></p-sortIcon></th>
            <th pSortableColumn="active">Active<p-sortIcon field="active"></p-sortIcon></th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.code }}</td>
            <td>{{ role.organization?.name }}</td>
            <td>{{ role.gaspard }}</td>
            <td>{{ role.active?"Yes": ((role.active == undefined || role.active == null)?"Yes":"No")}}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success p-mr-2"
                (click)="editRole(role)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                (click)="deleteRole(role)"
                class="p-button-rounded p-button-warning"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <res-role-form      
      [userDialogue]="userDialogue"
      [role] = "role"
      [formTitle] = "formTitle"
      (diaologue)="onUserDialogue($event)"
      (successOperation)="onsuccessOperation($event)"
    ></res-role-form>
  </ng-container>